/* Navbar container */
body {
    background-color: #222;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  display: flex;
}

/* Links inside the navbar */
.navbar .button a {
  float: left;
  font-size: 22px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .info a {
  text-decoration: none;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.navbar .logo {
    margin-left: 20%;
    margin-right: 7%;
}

.navbar .button {
    width: 60%;
}

/* Add a red background color to navbar links on hover */
.navbar .button a:hover {
  background-color: #004cff;
}

.main {
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 5%;
    width: 60%;
    float: left;
}

.main .content {
    margin-top: 5%;
    position: relative;
    min-height: 75px;
    color: white;
    width: 100%;
}

.main .post {
    background-color: #333;
    border: 1px solid #21262a;
    border-radius: 8px;
}

.main .post header {
    margin: 3%;
}

.main .post .title {
    font-family: Arial;
    font-size: 22px;
    text-decoration: none;
    color: #e0e3ea;
}

.main .post .title:hover {
    color: #004cff;
}

.main .post img {
    margin-bottom: 2%;
}

.login {
    box-sizing: border-box;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 60%;
    float: left;
}

.login .post {
    margin: 0;
    margin-left: 20%;
    background-color: #333;
    border: 1px solid #21262a;
    border-radius: 8px;
}

.login .title {
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    font-weight: 800;
    line-height: 20px;
}

.login .msg {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
}

.success {
    color: #00f719;
}

.failure {
    color: #f70000;
}

.login .input {
    display: grid;
}

.login .input * {
    margin-bottom: 3%;
}

.login .input button {
    margin-top: 10%;
    background-color: #004cff;
    line-height: 30px;
    border: 0;
    border-radius: 8px;
}

.login .input button:hover {
    background-color: #0040d5;
}

.login .input input {
    background-color: #222;
    color: #e0e3ea;
    padding: 0 20px;
    border: 0;
    border-radius: 6px;
    min-height: 30px;
}

.login .register {
    color: white;
    text-decoration: none;
}

.login .register:hover {
    color: #004cff;
}

.login .form {
    color: #e0e3ea;
}