/* Navbar container */
body {
    background-color: #222;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  display: flex;
}

/* Links inside the navbar */
.navbar .button a {
  float: left;
  font-size: 22px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .info a {
  text-decoration: none;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.navbar .logo {
    margin-left: 400px;
    min-width: 10%;
}

.navbar .button {
    margin-left: 10px;
    min-width: 50%;
}

.navbar .button a:hover {
  background-color: #004cff;
}

.main {
    box-sizing: border-box;
    margin-left: 200px;
    width: 60%;
    float: left;
}

.main .filter-search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    color: white;
    width: 100%;
}

.main .filter-search .search-form * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.main .filter-search form .search {
    border: 1px solid #21262a;
    background-color: #333;
    max-height: 20px;
    width: 42%;
    color: white;
    resize: none;
}

.main .filter-search .filter {
    border: 1px solid #21262a;
    background-color: #333;
    color: white;
    height: 26px;
}

.main .filter-search .btn-search {
    background-color: #333;
    color: white;
    border: 1px solid #21262a;
    height: 26px;
    width: 55px;
}

.main .filter-search .btn-search:hover {
    color: #004cff;
    background-color: #3f3f3f;
}

.main .content {
    min-height: 75px;
    color: white;
    width: 100%;
}

.main .post {
    background-color: #333;
    border: 1px solid #21262a;
    border-radius: 8px;
    margin-bottom: 2%;
}

.main .post header {
    margin: 3%;
}

.main .post .title {
    font-family: Arial;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.main .post .title:hover {
    color: #004cff;
}

.main .post .author {
    margin: 0;
    margin-top: 1%;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.main .post .tags {
    margin: 0;
    margin-left: 5%;
    padding-bottom: 2%;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
}

.main .post .tags .tag {
    color: #afafaf;
    margin: 0;
    margin-left: 1%;
}
.main .post .tags .tag:hover {
    color: white;
}

.main .post img {
    margin: 0;
    margin-left: 5%;
    margin-bottom: 1%;
}

.comment-blog {
    margin-left: 20px;
}

.comment-blog .info {
    display: inline-block;
    vertical-align: middle;
}

.comment-blog .info * {
    margin: 0;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.comment-blog .info .number {
    color: #e0e3ea;
    text-decoration: none;
    font-family: Arial;
}

.comment-blog .info .author {
    font-size: 16px;
    font-family: Arial;
}

.comment-blog .info .author:hover {
    color: #004cff;
}

.comment-blog .comment * {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #222;
    width: 95%;
    min-height: 30px;
    vertical-align: middle;
}

.comment-blog .comment input {
    margin: 0;
    background-color: white;
    width: 97%;
}

.comment-blog .comment textarea {
    color: white;
    font-family: Arial;
}

.comment-blog .comment .msg {
    padding: 10px;
    padding-right: 5px;
    font-size: 14px;
    font-family: Arial;
}

.login {
    box-sizing: border-box;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 60%;
    float: left;
}

.login .post {
    margin: 0;
    margin-left: 20%;
    background-color: #333;
    border: 1px solid #21262a;
    border-radius: 8px;
}

.login .title {
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    font-weight: 800;
    line-height: 20px;
}

.login .msg {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
}

.success {
    color: #00f719;
}

.failure {
    color: #f70000;
}

.login .input {
    display: grid;
}

.login .input * {
    margin-bottom: 3%;
}

.login .input button {
    margin-top: 10%;
    background-color: #004cff;
    line-height: 30px;
    border: 0;
    border-radius: 8px;
}

.login .input button:hover {
    background-color: #0040d5;
}

.login .input input {
    background-color: #222;
    color: #e0e3ea;
    padding: 0 20px;
    border: 0;
    border-radius: 6px;
    min-height: 30px;
}

.login .register {
    color: white;
    text-decoration: none;
}

.login .register:hover {
    color: #004cff;
}

.login .form {
    color: #e0e3ea;
}