<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VPWA (Vulnerable Portal Web Application)</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="navbar">
            <div class="logo">
                <a href="/"><img src="{{ url_for('static', filename='VPWA.png') }}" alt="VAFE" width="180" height="45"></a>
            </div>
            <div class="button">
                <a href="/">Главная</a>
                {% if context.admin.0 %}
                <a href="/status">Статус</a>
                {% endif %}
                <a href="/instruction?lang=ru">Инструкция</a>
                <a href="/create">Загрузить</a>
                {% if context.login %}
                <a href="/logout">Выйти</a>
                {% else %}
                <a href="/login">Войти</a>
                {% endif %}
            </div>
            <div class="info">
                {% if context.username %}
                <a href="/profile/#">Вы вошли под пользователем <b style="color: #afafaf;">{{context.username}}</b></a>
                {% else %}
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>

</html>