<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VAFE (Vulnerable Application Final Exam)</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="navbar">
            <div class="navbar logo">
                <img src="{{ url_for('static', filename='VAFE.png') }}" alt="VAFE" width="150" height="50">
            </div>
            <div class="navbar button">
                <a href="#1">Главная</a>
                <a href="#2">Пользователи</a>
                <a href="#3">Загрузить</a>
                <a href="#4">Войти</a>
            </div>
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>