{% extends "base.html" %}

{% block content %}
<div class="main">
  <div class="main content">
    {% if context.admin.0 %}
    <span class="main post">Мой текущий секрет: <b style="color: #ff0000">{{ context.admin.1 }}</b></span>
    {% endif %}
    {% for post in context.posts %}
    <div class="main post">
      {% if post.visible %}
      <header>
        <a class="title" href="/posts/{{post.id}}">{{post.title}}</a>
        <p class="author">Автор: {{ post.author }}</p>
      </header>
      <div>
        <img src="{{ post.path }}" width="600" height="600">
      </div>
      <div class="tags">
        {% for tag in post.tags %}
        <span class="tag">{{tag}}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}