{% extends "base.html" %}

{% block content %}
<div class="login">
  <div class="post">
    <form class="form" method="post">
      <p class="title">Войти</p>
      {% if 'Новый' in context.msg %}
        <p class="msg success">{{ context.msg }}</p>
        {% else %}
        <p class="msg failure">{{ context.msg }}</p>
      {% endif %}
      <div class="input">
        <input type="text" placeholder="Логин" name="login" required>
        <input type="password" placeholder="Пароль" name="password" required>

        <button type="submit"><span>Войти</span></button>
      </div>
      <a href="/register" class="register">Нет аккаунта? Зарегистрируйтесь!</a>
    </form>
  </div>
</div>
{% endblock %}